section(class="")
    .content
        .tabs
            .tabs-nav
                ul.js-left-menu
                    li.punkt1 Punkt 1
                    li.punkt2 Punkt 2
                ul.js-right-menu
                    li Punkt 4
                    li Punkt 5
                    li Punkt 6
            div(class="tabs-content active") 1111111
            div.tabs-content 2222222
            div.tabs-content 2222222
            div.tabs-content 2222222
            div.tabs-content 2222222