if(body === 'is-home')
	// Logo
	div(class="top-line__logo", role="banner")
		h1(class='h1', title='logo') База знаний
	//  End logo
if(body != 'is-home')
	// Logo
	div(class="top-line__logo", role="banner")
		a(href="../app/index.html" class='h1' title='logo') База знаний
	//  End logo