// Menu
nav(class="bottom-line__menu", role="navigation")
	ul.bottom-line__menu_list
		li.bottom-line__menu_item
			a(class="bottom-line__menu_link", href="#") menu1
		li.bottom-line__menu_item
			a(class="bottom-line__menu_link", href="#") menu2
		li.bottom-line__menu_item
			a(class="bottom-line__menu_link", href="#") menu3
		li.bottom-line__menu_item
			a(class="bottom-line__menu_link", href="#") menu4
		li.bottom-line__menu_item
			a(class="bottom-line__menu_link", href="#") menu5
// End Menu