div(class="pivacy-policy-text")
	input(class="pivacy-policy-text__input", type="checkbox", checked)
	span(class="pivacy-policy-text__text") Согласен с обработкой моих персональных данных в соответствии с 
		a(href="#", class="pivacy-policy-text__link") политикой конфиденциальности.