//- Шаблон
extends ../../layout-jade/layout

//- Переменные 
block variables
	- var title = 'Open graph'
	- var site = 'site.ru'
	- var link = 'https://my-site.ru'
	- var description = 'Описание страницы'
	- var siteName = 'site name'
	- var keywords = 'Кючевые слова'
	- var body = 'is-opengraph'

//- Контент
block content-page
	// opengraph-content
	main(class="opengraph-content", role="main")
		section.opengraph
			.container 
				.opengraph__content 
					h4 Введение
					p Протокол Open Graph позволяет любой веб-странице стать полноценным объектом в социальных сетях. Например, протокол используется на Facebook, чтобы разрешить любой веб-странице иметь такую же функциональность, как и любой другой объект на Facebook.

					p Хотя многие различные технологии и схемы существуют и могут быть объединены вместе, нет ни одной технологии, которая предоставляет достаточно информации, чтобы красочно представлять какие-либо веб-страницы внутри социальных сетей. Протокол Open Graph строится на этих существующих технологиях и предоставляет разработчикам возможность реализовать все это в одном протоколе. Простота разработки является ключевой задачей протокола Open Graph, сообщили многие, на основе технических проектных решений.

					a(href="https://ruogp.me/") Введение

	// End opengraph-content

