picture
	source(data-srcset="../img/my-image-middle.png, ../img/my-image.png 2x, ../img/my-image@2x.png 3x" media="(max-width: 992px)")
	source(data-srcset="../img/my-image-small.png, ../img/my-image-middle.png 2x, ../img/my-image.png 3x" media="(max-width: 500px)")
	img(data-src="../img/my-image.png", data-srcset="../img/my-image@2.png 2x, ../img/my-image@3x.png 3x" alt="my-image", class="lazy")
