//- Шаблон
extends ../../layout-jade/layout

//- Переменные 
block variables
	- var title = 'Микроразметка Schema.org'
	- var site = 'site.ru'
	- var link = 'https://my-site.ru'
	- var description = 'Описание страницы'
	- var siteName = 'site name'
	- var keywords = 'Кючевые слова'
	- var body = 'is-schema'

//- Контент
block content-page
	// schema-content
	main(class="schema-content", role="main")
		section.schema 
			.container 
				.schema__content
					h4 Что такое Schema.org?
					p Это сайт, который содержит коллекцию схем (html-тегов), которые вебмастера могут использовать для разметки своих страниц способами, признаными крупнейшими поисковыми системами, такими как Bing, Google, Yahoo! и Яндекс, которые полагаются на эту разметку для улучшения отображения результатов поиска, делая процесс поиска правильных веб-страниц проще для людей.

					p Многие сайты генерируются из структурированных данных, которые чаще всего хранятся в БД. Когда данные переводятся в HTML, становится очень сложно восстановить первоначальные структурированные данные. Многие приложения, особенно поисковые системы, могут получить значительные преимущества, имея прямой доступ к структурированным данным. Разметка страниц позволяет поисковым системам понимать информацию на веб-страницах и предоставлять пользователю именно ту информацию, которую он ищет. Разметка также может задействовать новые инструменты и приложения, которые используют эту структуру.

					p Этот общий словарь облегчит вебмастерам выбор правильной схемы разметки  и поможет получить максимум выгоды из приложенных усилий. Так, воодушевленные sitemaps.org, Bing, Google and Yahoo! собрались вместе чтобы создать для вебмастеров эту коллекцию схем.

					a(href="https://ruschema.org/docs/gs" class="d-block") Начало работы
					a(href="https://schema.org/docs/gs.html") Getting start

	// End schema-content

