//- Шаблон
extends ../../layout-jade/layout

//- Переменные 
block variables
	- var title = 'Перенос слов'
	- var site = 'site.ru'
	- var link = 'https://my-site.ru'
	- var description = 'Описание страницы'
	- var siteName = 'site name'
	- var keywords = 'Кючевые слова'
	- var body = 'is-hyphenation'

//- Контент
block content-page
	// hyphenation-content
	main(class="hyphenation-content", role="main")
		section.hyphenation
			.container
				.hyphenation__content
					h4 Указанные ниже свойства CSS определяют как переносить длинные слова
					p 1. только там, где стоит чёрточка, пробел или Enter (искл., неразрывный пробел &nbsp; и неразрывный дефис &#8209;). Между частями одного слова пишется дефис (например, красно‐жёлтый), между словами — тире. "Мягкий дефис" &shy; проявляется только при необходимости переноса. Если слово выходит за рамки родителя, то < wbr > или &#8203; переносит его часть без чёрточки. В математических выражениях используется минус (например, 5 − 2). В номерах телефонов отображается цифровая чёрта (например, +7 800 000‒00‒00). И всё это не является той знакомой -, что есть на клавиатуре. 
					p 2. после любого символа.
					p 3. согласно правилам русского языка с автоматическим применением дефиса.
					p overflow-wrap ▼ break-word
					p word-wrap ▼ break-word
					p word-break ▼ keep-all break-all
					p line-break ▼ loose normal strict
					p hyphens ▼ none auto
					p уже переосвидетельствовался наш тысячадевятьсотдевяностодевяти­килограммовый корчеватель‐бульдозер‐погрузчик
					p overflow-wrap: normal;  /* не поддерживает IE, Firefox; является копией word-wrap */ 
					p word-wrap: normal;
					p word-break: normal;  /* не поддерживает Opera12.14, значение keep-all не поддерживается IE, Chrome */ 
					p line-break: auto;  /* нет поддержки для русского языка */ 
					p hyphens: manual;  /* значение auto не поддерживается Chrome */ 
					p width: 50%;
					p div class="div" уже переосвидетельствовался наш тысячадевятьсотдевяностодевяти&shy;килограммовый корчеватель‐бульдозер‐погрузчик/div
					h4 В чём состоит различие одно свойства от другого
					p По умолчанию длинные слова не переносятся, если на то нет явных указаний с помощью дефиса, и начинаются с новой строки.
					p Для того, чтобы игнорировались черточки, сразу видимые глазу, вносим word-break: keep-all;.
					p Для того, чтобы браузер не обращал внимания и на мягкий дефис, вставляем hyphens: none;.
					p Если требуется перенос слов, то word-wrap: break-word; советую применять всегда, поскольку он понимается всеми браузерами. Он отличается от word-break: break-all;, которое является приоритетным, тем, что слова, которы					помещаются в блок, начинаются с новой строки и учитывается рекомендация мягкого дефиса.
					p При совместном использовании word-break: break-all; с hyphens: auto;, последнее игнорируется. hyphens: auto; расставляет любые дефисы по своему усмотрению. Но для того, чтобы оно работало, нужно обозначить свой язык, указ					div атрибут lang="ru".
					h4 Не переносить слова на другую строку
					p Скажем, пункт меню или кнопка будут нехорошо выглядеть, если разъедутся на части. Поэтому надо запретить их разделение. Для чего все вышеуказанные свойства следует поставить в режим "по умолчанию" и добавить white-space: 					или white-space: nowrap;. Нажмите на white-space: nowrap; и посмотрите на наш полигон.
					h4  Управлять переносом слов при hyphens: auto;
					p Тетрагидропиранилциклопентилтетрагидропиридопиридиновые
					h4 Html
					p &
						span shy - добавляет место разрыва
	// End hyphenation-content

