// [if lte IE 9]
	<p class="browserupgrade", role="alert">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="https://browsehappy.com/">обновите бразуер</a> для корректного отображения сайта.</p>
	<![endif]