picture
	// webp format
	source(type="image/webp" srcset="../img/my-image.webp, ../img/my-image@2x.webp 2x, ../img/my-image@3x.webp 3x")
	source(type="image/webp" srcset="../img/my-image-middle.webp, ../img/my-image.webp 2x, ../img/my-image@2x.webp 3x" media="(max-width: 992px)")
	source(type="image/webp" srcset="../img/my-image-small.webp, ../img/my-image-middle.webp 2x, ../img/my-image.webp 3x" media="(max-width: 500px)")
	// jpeg or png format
	source(srcset="../img/my-image-middle.png, ../img/my-image.png 2x, ../img/my-image@2x.png 3x" media="(max-width: 992px)")
	source(srcset="../img/my-image-small.png, ../img/my-image-middle.png 2x, ../img/my-image.png 3x" media="(max-width: 500px)")
	img(src="../img/my-image.png", srcset="../img/my-image@2.png 2x, ../img/my-image@3x.png 3x" alt="my-image", class="")


picture
	// webp format
	source(type="image/webp" srcset="../img/my-image.webp, ../img/my-image@2x.webp 2x, ../img/my-image@3x.webp 3x")
	// jpeg or png format
	img(src="../img/my-image.png", srcset="../img/my-image@2.png 2x, ../img/my-image@3x.png 3x" alt="my-image", class="")