div(class="row grid")
	div(class="col-xl-3 col-lg-4 col-md-4 col-sm-6 p-0 grid-item grid-item--height2")
		figure
			img(src="" alt="" class="img")
			a(href="#", class="f1-R") site
	div(class="col-xl-9 col-lg-4 col-md-4 col-sm-6 p-0 grid-item")
		figure
			img(src="" alt="" class="img")
			a(href="#", class="f1-R") site
	div(class="col-xl-12 col-lg-4 col-md-4 col-sm-6 p-0 grid-item")
		figure
			img(src="" alt="" class="img")
			a(href="#", class="f1-R") site