.nav {
  background-color: #ccc;
  margin: 10px;
  padding: 10px;
}

.nav li {
  cursor: pointer;
}

.nav__topmenu {
  position: relative;
  background-color: #999;
}

.nav__submenu {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transform-origin: 0% 0%;
  transform: rotateX(-90deg);
}

.nav li:hover > .nav__submenu {
  position: relative;
  visibility: visible;
  opacity: 1;
  transform: rotateX(0deg);
  transition: .3s linear; 
}