// Header
header(class='site-header')
	div(class="top-line")
		.container
			div.top-line__content
				//- include
				include _sections-template/_logo/logo-text
	if(body === 'is-home')
	if(body != 'is-home')
		h2.h2 #{title}
// End header