// Form
form(action="send.php", method="post", id="js-form", role="form", class="form")
	.form-success
		span(class="f1-R") Спасибо!
	input(type="text", name="fio", placeholder="Укажите ФИО")
	input(type="text", name="email", placeholder="Укажите e-mail")
	input(type="submit", name="send", value="Отправить")
// End form