// Footer
footer(class='site-footer', role='contentinfo')
	div(class="bottom-line")
		.container
			div.bottom-line__content
				//- include
				h2(class="bottom-line__content_h2 h2") База знаний
	//- include

// End footer