//- Шаблон
extends ../../layout-jade/layout

//- Переменные 
block variables
	- var title = 'Текстовые редакторы'
	- var site = 'site.ru'
	- var link = 'https://my-site.ru'
	- var description = 'Описание страницы'
	- var siteName = 'site name'
	- var keywords = 'Кючевые слова'
	- var body = 'is-text-editors'

//- Контент
block content-page
	// text-editors-content
	main(class="text-editors-content", role="main")
		section.text-editors
			.container
				.text-editors__content
					h4 1. Sublime text 3
					p Установить install package, нажав ctrl+shift+p
					p Установить: emmet, autofilename, budder scroll (скачать из github, распоковать в папку packages {preferences -> browse Packages}), sidebarenhahcements, gist
					h4 2. visual studio code
	// End text-editors-content

