// Cookie
div(class="cookie", role="status")
	div(class="cookie__content")
		p(class="cookie__content_text f1-L") Этот сайт использует файлы cookies для более комфортной работы пользователя. Продолжая просмотр страниц сайта, вы соглашаетесь с использованием  файлов cookies. Если вам нужна дополнительная информация, пожалуйста, посетите страницу 
			a(href="#" class="cookie__content_link") "Политика конфиденциальности".
		div(class="cookie__content_close")
			img(src="" alt="close icon" class="cookie__content_close-img")
// End cookie