// Privacy policy
div(class='bottom-line__confidentiality justify-content-center align-items-center')
	a(href="#", class="bottom-line__confidentiality_link") Политика конфиденциальности
// End privacy policy