//- Шаблон
extends ../../layout-jade/layout

//- Переменные 
block variables
	- var title = 'css селекторы'
	- var site = 'site.ru'
	- var link = 'https://my-site.ru'
	- var description = 'Описание страницы'
	- var siteName = 'site name'
	- var keywords = 'Кючевые слова'
	- var body = 'is-css-selectors'

//- Контент
block content-page
	// css-selectors-content
	main(class="css-selectors-content", role="main")
		section.css-selectors 
			.container 
				.css-selectors__content 
					

	// End css-selectors-content

