// Popup
div#up-button Наверх
	.popup-bg
	div(class="popup", role="dialog")
		div(class="popup-content", role="document")
			.close
				i(class="fa fa-arrows", aria-hidden="true")
			h2.h2 Hello world!
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut illo itaque tempora sequi nihil repellendus commodi dicta ut. Quidem deleniti, tenetur soluta maiores, impedit beatae quia at sequi corporis molestias!
// End popup